[submodule "CIS162"]
	path = CIS162
	url = https://github.com/MrClarkeSoftware/CIS162
[submodule "ConsoleGames"]
	path = ConsoleGames
	url = https://github.com/NikolayIT/CSharpConsoleGames
[submodule "Quantum"]
	path = Quantum
	url = https://github.com/microsoft/Quantum
